trigger:
  branches:
    include:
      - main

pool: default
 # name: vm-ratan
 # demands:
   # - Agent.OS -equals new-agent-pool

variables:
  buildConfiguration: 'Release'
  dotnetVersion: '8.0.x'
  projectPath: 'ClientLibrary/Samples/ClientSamples.netcore.csproj'
  artifactName: 'drop'
  appName: 'my-dotnet-appservice'
  azureSubscription: 'new-app-connection'

stages:
- stage: Build
  displayName: Build Stage
  jobs:
  - job: BuildJob
    steps:

    # Step 1: Install .NET SDK
    - task: UseDotNet@2
      inputs:
        packageType: sdk
        version: $(dotnetVersion)

    # Step 2: Restore
    - script: dotnet restore $(projectPath)
      displayName: Restore NuGet packages

    # Step 3: Build
    - script: dotnet build $(projectPath) --configuration $(buildConfiguration)
      displayName: Build application

    # Step 4: Publish
    - script: dotnet publish $(projectPath) --configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)
      displayName: Publish application

    # Step 5: Publish Artifact
    - task: PublishPipelineArtifact@1
      inputs:
        targetPath: '$(Build.ArtifactStagingDirectory)'
        artifact: $(artifactName)

- stage: Deploy
  displayName: Deploy Stage
  dependsOn: Build
  jobs:
  - job: DeployJob
    steps:

    # Step 6: Download Artifact
    - task: DownloadPipelineArtifact@2
      inputs:
        artifact: $(artifactName)
        path: '$(System.DefaultWorkingDirectory)/$(artifactName)'

    # Step 7: Deploy to Azure App Service
    - task: AzureWebApp@1
      inputs:
        azureSubscription: $(azureSubscription)
        appName: $(appName)
        package: '$(System.DefaultWorkingDirectory)/$(artifactName)'